{% extends 'shared/base.html' %}
{% load utilitytags %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}
<div class="col-md-9 col-sm-8 left-side-content">
    <section class="single-page">
        <header>
            <h3> {{product.name}} </h3>
        </header>
        <article>
            <!-- Detail -->
            <div class="col-md-8 col-sm-12 col-xs-12 pull-left detail-product">
                <div>
                    <span> قیمت : {{product.final_price|toint}} {{currency}} </span>
                    <input type="hidden" value="{{product.id}}" id="productid">
                    <button id="set_basket" class="add-to-card-link border-radius" style="border: none;"> افزودن به سبد خرید </button>
                </div>
                <p>
                    {{product.short_describtion}}
                </p>
            </div>
            <!-- End Detail -->
            <!-- Gallery -->
            <div class="col-md-4 col-sm-12 col-xs-12 pull-right product-gallery">
                <div class="large-image border-radius">
                    <img class="border-radius" src="{{product.image.url}}">
                </div>
                <div class="thumbnails-image">
                    <div class="row">
                        {% for gallery in galleries %}
                        <div class="col-md-3 col-sm-3 col-xs-4 border-radius">
                            <img class="border-radius" src="{{gallery.image.url}}">
                        </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- End Gallery -->
            <div class="clearfix"></div>
        </article>
    </section>


    <div class="tabs-product margin-top-25">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#main-content"> توضیحات کامل </a></li>
            <li><a data-toggle="tab" href="#properties"> ویژگی ها </a></li>
            <li><a data-toggle="tab" href="#comments"> نظرات کاربران </a></li>
        </ul>

        <div class="tab-content ">

            <!-- description -->
            <div id="main-content" class="tab-pane fade in active">
                {{product.descrbtion|safe}}
            </div>
            <!-- End description -->

            <!-- Chart -->
            <div id="properties" class="tab-pane fade">
                <h3> ویژگی های محصول : </h3>
                <ul>
                    <li>
                        رنگ :
                        {% for i in specifics %}
                        {{i.color.color_name}}
                        {% endfor %}
                    </li>
                    <li>
                        اندازه :
                        {{productspecific.size.name}}
                    </li>
                    <li>
                        برند
                        {{productspecific.brand.name}}
                        <span>---</span>
                        {{productspecific.brand.country}}
                    </li>
                </ul>
                <ul>
                    {% for keyvalue in specifics.keyvalues.all %}
                    <li>
                        <span>
                            {{keyvalue.key}}
                        </span>
                        <span>
                            :
                        </span>
                        <span>
                            {{keyvalue.value}}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Chart -->

            <!-- Comment -->
            <div id="comments" class="tab-pane fade">
                <div class="comment-layer">
                    <form action="{% url 'product:setcomment' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{product.id}}">
                        <input type="hidden" name="header" value="" id="header">
                        <div class="col-md-12">
                            <textarea class="form-control" placeholder="متن دیدگاه"></textarea>
                            <span class="text-danger">
                                
                            </span>
                            <input class="btn btn-primary" value="ثبت دیدگاه ارزشمند شما" type="submit">
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <ul class="comment-list">
                        {% for i in comments_header %}
                        <li>
                            <a onclick="ReplyComment('{{i.header.id}}')" class="reply-button">پاسخ</a>

                            <img src="" width="65">
                            <div>
                                <h5>ارسال شده از :{{i.user.username}} در تاریخ : 15/5/95 </h5>
                                <p>
                                    {{i.comment}}
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <ul>
                                {% for sub in comments %}
                                {% if sub.header == i %}
                                <li>
                                    <img src="img/avatar.jpg" width="65">
                                    <div>
                                        <h5>ارسال شده از : {{sub.user.username}} در تاریخ : 15/5/95 </h5>
                                        <p>
                                            {{sub.comment}}
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>

                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <!-- End Comment -->



        </div>
    </div>

    <section class="border-radius tags-layer">
        {% for i in tags %}
        <a href="{% url 'product:getproductsbytag' i.tag_title %}">
            {{i.tag_title}}
        </a>
        {% endfor %}
    </section>


</div>
{% endblock %}
{% block scripts %}
<script>
    function ReplyComment(id){
        document.getElementById("header").value = id;
    }
</script>
{% endblock %}