{% extends 'shared/base.html' %}
{% load utilitytags %}
{% block title %}
فروشگاه لوازم دیجیتال
{% endblock title %}

{% block body %}

<section class="last-products">
   <header>
      <h3> جدیدترین محصولات </h3> <a href=""> آرشیو </a>
   </header>
   <article>
      {% for i in products %}
      <div class="col-md-4 col-sm-6">
         <div class="border-radius">
            <span>
               <a href="{% url 'product:singleproduct' i.slug i.id %}">
                  <img src="{{i.image.url}}">
               </a>
            </span>
            <a href="{% url 'product:singleproduct' i.slug i.id %}" class="text-decoration-none">
               <h2> {{i.name}} </h2>
            </a>
            <h6>افزودن به لیست مقایسه <input type="checkbox"></h6>
            <span class="col-md-9 col-sm-9 col-xs-9 price-layer">
               <label>
                  {{i.final_price|toint}} {{currency}}
               </label>
            </span>
            <a href=""
               class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 buy-button border-radius">
               <label><i class="fa fa-shopping-basket"></i></label>
            </a>
         </div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
   </article>
</section>


<section class="last-products">
   <header>
      <h3> پرفروش ترین محصولات </h3> <a href=""> آرشیو </a>
   </header>
   <article>

      {% for i in highest_products_bought %}
      <div class="col-md-4 col-sm-6">
         <div class="border-radius">
            <span>
               <a href="{% url 'product:singleproduct' i.product.slug i.product.id %}">
                  <img src="{{i.product.image.url}}" alt="Product Image">
               </a>
            </span>
            <a href="{% url 'product:singleproduct' i.product.slug i.product.id %}" class="text-decoration-none">
               <h2> {{i.product.name}} </h2>
            </a>
            <h6>افزودن به لیست مقایسه <input type="checkbox"></h6>
            <span class="col-md-9 col-sm-9 col-xs-9 price-layer">
               <label>{{i.product.final_price|toint}} {{currency}}</label>
            </span>
            <a href=""
               class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 buy-button border-radius">
               <label><i class="fa fa-shopping-basket"></i></label>
            </a>
         </div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
   </article>
</section>
{% endblock body %}