<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> 
            {% block title %}
            {% endblock title %}
        </title>
		<base href="" >
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include "shared/HeaderRefrence.html" %}
        {% block styles %}
        {% endblock styles %}
	</head>
	<body>
		{% include "shared/Header.html" %}

        {% include "shared/Slider.html" %}
        {% block body %}
        {% endblock body %}
        

        {% include "shared/Footer.html" %}
		{% include "shared/FooterRefrence.html" %}
        {% block scripts %}
        {% endblock scripts %}
	</body>
</html>
