{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-rtl.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/iziToast.min.css' %}">
<script src="{% static 'js/jquery-v1.11.3.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>